html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before, blockquote:after {
  content: '';
  content: none; 
}

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

.btn__git {
  background: #F57342;
  padding: 19px 82px;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 10px; }
.btn__inside {
  border: 1px solid #005A83;
  padding: 10px 30px;
  border-radius: 25px; }
  .btn__inside i {
    border: solid #005A83;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    color: #005A83;
    position: relative;
    left: 20px; }
    .btn__inside i.right {
      -webkit-transform: rotate(-45deg);
      -khtml-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.help {
  padding-bottom: 50px; }
  @media only screen and (min-width: 480px) {
    .help {
      margin: 0 auto; } }
  .help .section-container {
    display: flex;
    :
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column; }
  .help h2 {
    font-size: 62px;
    text-align: center;
    margin: 50px auto; }
  .help .row {
    display: flex;
    :
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    -ms-flex-wrap: wrap; }
    @media only screen and (min-width: 992px) {
      .help .row {
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        /* Safari 6.1+ */
        -ms-flex-wrap: nowrap; } }
    .help .row .element {
      width: 50%;
      float: left;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      /* Safari 6.1+ */
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      /* Safari 6.1+ */
      -ms-flex-direction: column; }
      @media only screen and (min-width: 768px) {
        .help .row .element {
          width: 30%; } }
      @media only screen and (min-width: 992px) {
        .help .row .element {
          min-width: 20%;
          width: auto; } }
      .help .row .element .group {
        width: 100px;
        height: 100px;
        margin: 10px auto; }
      .help .row .element a {
        width: 27px;
        padding-top: 20px;
        margin: 0 auto; }
      .help .row .element p {
        height: 40px;
        font-size: 16px;
        width: 100%;
        margin: 0 auto; }
        @media only screen and (min-width: 768px) {
          .help .row .element p {
            width: 76%; } }
  .help .btn__git {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 143px);
    margin-right: calc(50% - 143px); }
    @media only screen and (min-width: 480px) {
      .help .btn__git {
        margin-top: 120px;
        margin-bottom: 120px; } }
  .help p {
    text-align: center;
    color: #005A83;
    font-size: 20px; }
    @media only screen and (min-width: 480px) {
      .help p {
        font-size: 26px; } }
  .help .text {
    padding-top: 50px;
    position: relative; }
    .help .text:before {
      content: '';
      position: absolute;
      left: calc(50% - 25px);
      top: 10px;
      width: 50px;
      height: 3px;
      border-radius: 20px;
      background: #F57342; }
  .help .find {
    font-size: 18px;
    margin: 20px 0; }
    .help .find a {
      color: #F57342; }

.get-started {
  background: #EFF4F7;
  margin-bottom: 50px; }
  .get-started .section-container {
    padding: 50px 0; }
    .get-started .section-container h2 {
      font-size: 62px;
      text-align: center; }
    .get-started .section-container .content {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      /* Safari 6.1+ */
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      /* Safari 6.1+ */
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-justify-content: center;
      /* Safari 6.1+ */
      -ms-flex-line-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; 
    }
      @media only screen and (min-width: 992px) {
        .get-started .section-container .content {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          /* Safari 6.1+ */
          -ms-flex-direction: row; } }
      .get-started .section-container .content .item {
        margin: 20px 0; }
        @media only screen and (min-width: 992px) {
          .get-started .section-container .content .item {
            margin: 50px; } }
        .get-started .section-container .content .item .btn__git {
          text-align: center;
          display: block;
          width: 250px;
          padding: 19px 25px; }
          @media only screen and (min-width: 992px) {
            .get-started .section-container .content .item .btn__git {
              padding: 19px 50px; } }
        .get-started .section-container .content .item .upload {
          display: flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          /* Safari 6.1+ */
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          /* Safari 6.1+ */
          -ms-flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-justify-content: center;
          /* Safari 6.1+ */
          -ms-flex-line-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          margin-top: 30px; }
          .get-started .section-container .content .item .upload p {
            margin-left: 20px; }

.notice .banner {
  font-size: 15px;
  background: #EFF4F7;
  padding: 1em;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .notice .banner {
      font-size: 12px;
  } 
}

@media only screen and (min-width: 1200px) {
  .notice .banner {
    padding-left: 5em;
    padding-right: 5em;
  } 
}

.info {
  /* Safari 5.1-6.0 */
  /* Opera 11.1-12.0 */
  /* Firefox 3.6-15 */
  background: linear-gradient(#f3f7f9, #FFFFFF);
  /* Standard syntax */
  display: block;
  width: 100%;
  position: relative;
  padding-top: 200px; }
  @media only screen and (min-width: 992px) {
    .info {
      padding-top: 230px; } }
  @media only screen and (min-width: 1200px) {
    .info {
      padding-top: 320px; } }
  .info .section-container {
    display: block;
    margin: 0 auto; }
    .info .section-container:after {
      content: '';
      display: table;
      clear: both; }
  .info .left {
    width: 100%;
    padding: 0;
    float: left;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column; }
    @media only screen and (min-width: 992px) {
      .info .left {
        border-right: 3px dashed #f3f7f9; } }
    @media only screen and (min-width: 768px) {
      .info .left {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        /* Safari 6.1+ */
        -ms-flex-direction: row;
        padding: 0; } }
    @media only screen and (min-width: 992px) {
      .info .left {
        width: calc(50% - 71px);
        padding-right: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        /* Safari 6.1+ */
        -ms-flex-direction: column; } }
    .info .left img {
      max-width: 100%;
      max-height: 300px;
      margin: 13px auto;
      width: auto \9; }
      @media only screen and (min-width: 768px) {
        .info .left img {
          width: 50%;
          height: auto; } }
      @media only screen and (min-width: 992px) {
        .info .left img {
          width: 350px;
          max-height: 300px; } }
    .info .left .text {
      display: flex;
      :
  display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      /* Safari 6.1+ */
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      /* Safari 6.1+ */
      -ms-flex-direction: column; }
      @media only screen and (min-width: 768px) {
        .info .left .text {
          width: 50%; } }
      @media only screen and (min-width: 992px) {
        .info .left .text {
          width: 100%; } }
      .info .left .text h2 {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 48px;
        position: relative;
        text-align: center;
        z-index: 1; }
        @media only screen and (min-width: 768px) {
          .info .left .text h2 {
            margin: 10px 0;
            text-align: left; } }
        @media only screen and (min-width: 992px) {
          .info .left .text h2 {
            margin: 50px auto;
            text-align: center; } }
        .info .left .text h2:after {
          content: '';
          position: absolute;
          width: 460px;
          height: 150px;
          background-image: url("../images/page_rip_small2.png");
          background-position: top;
          background-repeat: no-repeat;
          background-size: contain;
          top: -35px;
          left: 0px;
          z-index: -1;
          display: none; }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .info .left .text h2:after {
              margin-left: 90px; } }
          @supports (overflow: -webkit-marquee) and ((-webkit-box-pack: inherit) or (justify-content: inherit)) {
            .info .left .text h2:after {
              left: 70px; } }
          @media only screen and (min-width: 992px) {
            .info .left .text h2:after {
              display: block; } }
      .info .left .text p {
        height: 180px;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        position: relative; }
        @media only screen and (min-width: 768px) {
          .info .left .text p {
            height: auto;
            text-align: left;
            margin-top: 0;
            line-height: 27px; } }
        @media only screen and (min-width: 992px) {
          .info .left .text p {
            height: 180px;
            text-align: center;
            margin-top: 50px;
            line-height: 22px; } }
        .info .left .text p:before {
          content: '';
          position: absolute;
          left: calc(50% - 25px);
          top: -20px;
          width: 50px;
          height: 3px;
          background: #F57342;
          border-radius: 20px;
          display: none; }
          @media only screen and (min-width: 992px) {
            .info .left .text p:before {
              display: block; } }
        .info .left .text p a {
          color: #F57342;
          border-bottom: 1px dashed #F57342; }
  .info .right {
    width: 100%;
    padding: 0;
    float: left;
    display: flex;
    :
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .info .right {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        /* Safari 6.1+ */
        -ms-flex-direction: row;
        padding: 0; } }
    @media only screen and (min-width: 992px) {
      .info .right {
        width: calc(50% - 72px);
        padding-left: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        /* Safari 6.1+ */
        -ms-flex-direction: column; } }
    .info .right img {
      width: 265px;
      max-height: 300px;
      margin: 0 auto; }
    .info .right .text {
      display: flex;
      :
  display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      /* Safari 6.1+ */
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      /* Safari 6.1+ */
      -ms-flex-direction: column; }
      @media only screen and (min-width: 768px) {
        .info .right .text {
          width: 50%; } }
      @media only screen and (min-width: 992px) {
        .info .right .text {
          width: 100%; } }
      .info .right .text h2 {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 48px;
        position: relative;
        text-align: center;
        z-index: 1; }
        @media only screen and (min-width: 768px) {
          .info .right .text h2 {
            margin: 10px 0;
            text-align: left; } }
        @media only screen and (min-width: 992px) {
          .info .right .text h2 {
            margin: 50px auto;
            text-align: center; } }
        .info .right .text h2:after {
          content: '';
          position: absolute;
          width: 460px;
          height: 150px;
          background-image: url("../images/page_rip_small1.png");
          background-position: top;
          background-repeat: no-repeat;
          background-size: contain;
          top: -35px;
          left: -70px;
          z-index: -1;
          display: none; }
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .info .right .text h2:after {
              margin-left: 90px; } }
          @supports (overflow: -webkit-marquee) and ((-webkit-box-pack: inherit) or (justify-content: inherit)) {
            .info .right .text h2:after {
              left: 0; } }
          @media only screen and (min-width: 992px) {
            .info .right .text h2:after {
              display: block; } }
      .info .right .text p {
        height: auto;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        position: relative; }
        @media only screen and (min-width: 768px) {
          .info .right .text p {
            height: auto;
            text-align: left;
            margin-top: 0;
            line-height: 27px; } }
        @media only screen and (min-width: 992px) {
          .info .right .text p {
            height: 180px;
            text-align: center;
            margin-top: 50px;
            line-height: 22px; } }
        .info .right .text p:before {
          content: '';
          position: absolute;
          left: calc(50% - 25px);
          top: -20px;
          width: 50px;
          height: 3px;
          background: #F57342;
          border-radius: 20px;
          display: none; }
          @media only screen and (min-width: 992px) {
            .info .right .text p:before {
              display: block; } }
        .info .right .text p a {
          color: #F57342;
          border-bottom: 1px dashed #F57342; }
  .info .baner-container {
    display: none; }
    @media only screen and (min-width: 992px) {
      .info .baner-container {
        display: flex;
        :
  display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        /* Safari 6.1+ */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
        /* Safari 6.1+ */
        -ms-flex-line-pack: center;
        width: 100%;
        position: absolute;
        bottom: -150px; } }

.inside {
  padding-bottom: 280px; }
  .inside:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 370px;
    background-image: url("../images/page_rip_top.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
  .inside h2 {
    font-size: 47px;
    padding-top: 200px;
    padding-left: 0;
    padding-bottom: 50px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .inside h2 {
        font-size: 48px;
        text-align: left; } }
    @media only screen and (min-width: 992px) {
      .inside h2 {
        padding-left: 200px; } }
  .inside .column {
    width: 100%;
    display: flex;
    :
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */ }
    .inside .column:nth-child(odd) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      /* Safari 6.1+ */
      -ms-flex-direction: column; }
      @media only screen and (min-width: 768px) {
        .inside .column:nth-child(odd) {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          /* Safari 6.1+ */
          -ms-flex-line-pack: space-between;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          /* Safari 6.1+ */
          -ms-flex-direction: row; } }
    .inside .column:nth-child(even) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      flex-direction: column-reverse;
      /* Safari 6.1+ */
      -ms-flex-direction: column-reverse; }
      @media only screen and (min-width: 768px) {
        .inside .column:nth-child(even) {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          /* Safari 6.1+ */
          -ms-flex-line-pack: space-between;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          /* Safari 6.1+ */
          -ms-flex-direction: row; } }
    .inside .column .text {
      width: 100%;
      margin: 50px auto; }
      @media only screen and (min-width: 768px) {
        .inside .column .text {
          width: 45%; } }
      .inside .column .text p {
        width: 100%;
        font-size: 16px;
        margin-bottom: 50px;
        position: relative;
        line-height: 26px;
        text-align: center; }
        @media only screen and (min-width: 768px) {
          .inside .column .text p {
            width: 100%;
            text-align: left; } }
        @media only screen and (min-width: 992px) {
          .inside .column .text p {
            width: 50%; } }
        .inside .column .text p:before {
          content: '';
          position: absolute;
          width: 50px;
          height: 3px;
          background: #F57342;
          top: -15px;
          border-radius: 20px;
          left: calc(50% - 25px); }
          @media only screen and (min-width: 768px) {
            .inside .column .text p:before {
              left: 0; } }
      .inside .column .text a {
        color: #005A83;
        text-transform: uppercase;
        padding: 15px 50px;
        margin-left: calc(50% - 99px); }
        @media only screen and (min-width: 768px) {
          .inside .column .text a {
            margin-left: 0; } }
      .inside .column .text.left {
        padding-left: 0; }
        @media only screen and (min-width: 992px) {
          .inside .column .text.left {
            padding-left: 200px; } }
    .inside .column .animation-image {
      width: 100%;
      margin: auto; }
      @media only screen and (min-width: 768px) {
        .inside .column .animation-image {
          width: 50%; } }
      .inside .column .animation-image.height img {
        width: 200px;
        height: auto;
        display: block;
        margin: auto; }
        @media only screen and (min-width: 768px) {
          .inside .column .animation-image.height img {
            height: auto;
            width: 300px; } }
      .inside .column .animation-image.width img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto; }
        @media only screen and (min-width: 768px) {
          .inside .column .animation-image.width img {
            height: auto;
            width: 100%; } }
      .inside .column .animation-image.image-left img {
        margin: auto; }
        @media only screen and (min-width: 768px) {
          .inside .column .animation-image.image-left img {
            margin: 0; } }
      .inside .column .animation-image.rotate {
        -webkit-transform: rotate(-20deg);
        -khtml-transform: rotate(-20deg);
        transform: rotate(-20deg);
        filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
        zoom: 1; }
  .inside:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 280px;
    background-image: url("../images/page_rip_bottom.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; }

@-webkit-keyframes animacja_komorka {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1170px 0; } }

@keyframes animacja_komorka {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1170px 0; } }
.footer {
  background-color: #EFF4F7;
  min-height: 325px;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 60px; }
  @media only screen and (min-width: 480px) {
    .footer {
      padding-bottom: 40px; } }
  @media only screen and (min-width: 768px) {
    .footer {
      padding-bottom: 25px;
      min-height: 200px; } }
  .footer .links {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    -ms-flex-line-pack: center;
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .footer .links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        /* Safari 6.1+ */
        -ms-flex-direction: row; } }
    .footer .links .item {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      /* Safari 6.1+ */
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      /* Safari 6.1+ */
      -ms-flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      color: #005A83;
      -ms-flex-item-align: center;
      align-self: center;
      width: 230px;
      padding-bottom: 20px; }
      @media only screen and (min-width: 768px) {
        .footer .links .item {
          margin-right: 50px;
          padding-bottom: 0;
          width: auto; } }
      .footer .links .item:last-child {
        padding-bottom: 0; }
        @media only screen and (min-width: 768px) {
          .footer .links .item:last-child {
            margin-right: 0; } }
      .footer .links .item img {
        width: 50px;
        height: 50px;
        padding-right: 20px; }
  .footer .mail {
    width: 200px;
    height: 200px;
    background: #005983;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #005983, #448da2);
    /* Standard syntax */
    border-radius: 30px;
    padding: 15px;
    padding-bottom: 16px;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    top: -36px; }
    .footer .mail img {
      width: 50px;
      height: 40px;
      position: relative;
      top: 19px; }
  .footer__copy {
    float: left;
    width: 100%;
    font-size: 14px; }
    .footer__copy a {
      color: #F57342; }

.header {
  margin-bottom: -150px; 
}
@media only screen and (min-width: 992px) {
  .header {
    margin-bottom: -200px; 
  } 
}
 @media only screen and (min-width: 1200px) {
  .header {
    margin-bottom: -270px; 
  } 
}
.header .head {
    width: 100%;
    padding: 15px 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    -ms-flex-line-pack: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    /* Safari 6.1+ */
    -ms-flex-direction: column-reverse; }
    @media only screen and (min-width: 1225px) {
      .header .head {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        /* Safari 6.1+ */
        -ms-flex-direction: row; } }
    .header .head img {
      max-width: 400px;
      /* max-height: 200px; */
      margin: 0 auto;
    }
    @media only screen and (min-width: 1225px) {
      .header .head img {
        margin: 0;
        padding: 0; 
      } 
    }
    .header .head p {
      width: 285px;
      font-size: 14px;
      text-align: center;
      margin: 0;
      color: #F57342;
      float: left;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-align-self: center;
      /* Safari 7.0+ */
      -ms-flex-align-self: center; }
      @media only screen and (min-width: 768px) {
        .header .head p {
          text-align: left; } }
    .header .head .btn__git {
      float: right;
      margin-left: 29px;
      margin-right: 46px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-align-self: center;
      /* Safari 7.0+ */
      -ms-flex-align-self: center;
      display: none; }
      @media only screen and (min-width: 1225px) {
        .header .head .btn__git {
          display: block; } }
    .header .head .baner-container {
      display: none; }
      @media only screen and (min-width: 1225px) {
        .header .head .baner-container {
          position: absolute;
          right: 0;
          top: 104px;
          display: block; } }
  .header p {
    width: 100%;
    font-size: 18px;
    color: #005A83;
    margin: 10px auto;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .header p {
        width: 65%;
        font-size: 26px;
        margin: 20px auto; 
        margin-top: 0px;
      } 
    }
    @media only screen and (min-width: 1225px) {
      .header p {
        margin: 70px auto; 
        margin-top: 0px;
      } 
    }

  .header .section-container .button-container {
    background: red;
    min-height: 7em;
    margin: 20px auto;
    max-width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    -ms-flex-line-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center; 
  }
    /* .header .section-container .button-container .item {
      display: block;
    } */



  .header .mobile {
    display: block;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* Safari 6.1+ */
    -ms-flex-direction: column;
    position: relative; }
    @media only screen and (min-width: 1225px) {
      .header .mobile {
        display: none; } }
    .header .mobile img {
      display: block;
      width: 279px;
      height: 489px;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) {
        .header .mobile img {
          display: none; } }
    .header .mobile .btn__git {
      margin-left: calc(50% - 143px);
      margin-right: calc(50% - 143px);
      margin-bottom: 130px; }
    .header .mobile:before {
      content: '';
      position: absolute;
      width: 415px;
      height: 252px;
      background-image: url("../images/Digital_Cash.gif");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      top: 400px;
      left: -350px;
      z-index: -1; }
      @media only screen and (min-width: 768px) {
        .header .mobile:before {
          display: none; } }
    .header .mobile:after {
      content: '';
      position: absolute;
      width: 415px;
      height: 252px;
      background-image: url("../images/Digital_Cash.gif");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      top: 400px;
      right: -350px;
      z-index: -1; }
      @media only screen and (min-width: 768px) {
        .header .mobile:after {
          display: none; } }
    .header .mobile .baner-container {
      position: absolute;
      left: calc(50% - 187px);
      display: block;
      top: auto;
      bottom: 45px; }
      @media only screen and (min-width: 768px) {
        .header .mobile .baner-container {
          top: 65px; } }
      @media only screen and (min-width: 1225px) {
        .header .mobile .baner-container {
          display: none; } }
      .header .mobile .baner-container .baner p {
        width: 100%;
        margin: 0; }
  .header .iframe-mobile {
    display: block;
    margin: 0 auto;
    width: 100vw !important;
    height: 56.25vw !important;
    display: block;
    position: relative;
    z-index: 200; }
    @media only screen and (min-width: 768px) {
      .header .iframe-mobile {
        display: none; } }
  .header .section-container {
    position: relative;
    z-index: 1; 
  }
    .header .section-container .head {
      text-align: center;
      display: block;
    } 
    .header .section-container iframe {
      display: block;
      margin: 0 auto;
      width: 100vw !important;
      height: 56.25vw !important;
      display: none; }
      @media only screen and (min-width: 768px) {
        .header .section-container iframe {
          display: block;
          width: 636px !important;
          height: 358px !important; } }
      @media only screen and (min-width: 1200px) {
        .header .section-container iframe {
          width: 960px !important;
          height: 540px !important; } }
    .header .section-container:before {
      content: '';
      position: absolute;
      width: 279px;
      height: 489px;
      background-image: url("../images/happy_women.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      top: calc(100% - 600px);
      left: -50px;
      z-index: -1;
      display: none; }
      @media only screen and (min-width: 768px) {
        .header .section-container:before {
          display: block; } }
      @media only screen and (min-width: 768px) {
        .header .section-container:before {
          top: calc(100% - 520px);
          left: -100px; } }
      @media only screen and (min-width: 992px) {
        .header .section-container:before {
          top: calc(100% - 600px);
          left: -50px; } }
      @media only screen and (min-width: 1200px) {
        .header .section-container:before {
          left: -120px; } }
    .header .section-container:after {
      content: '';
      position: absolute;
      width: 415px;
      height: 252px;
      background-image: url("../images/Digital_Cash.gif");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      top: calc(100% - 650px);
      right: -150px;
      z-index: -1;
      display: none; }
      @media only screen and (min-width: 768px) {
        .header .section-container:after {
          display: block; } }
      @media only screen and (min-width: 768px) {
        .header .section-container:after {
          top: calc(100% - 460px); } }
      @media only screen and (min-width: 992px) {
        .header .section-container:after {
          top: calc(100% - 520px); } }
      @media only screen and (min-width: 1200px) {
        .header .section-container:after {
          top: calc(100% - 650px); } }

.baner {
  display: flex;
  :
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* Safari 6.1+ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  /* Safari 6.1+ */
  -ms-flex-line-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  /* Safari 6.1+ */
  -ms-flex-direction: column;
  width: 100%;
  padding: 10px 12px;
  background-color: #005A83;
  border-radius: 10px;
  width: 350px;
  position: relative;
  z-index: 2; }
  .baner:before {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background-image: url(../images/excla.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: -12px;
    left: 5px; }
  .baner:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/recta.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10px;
    left: calc(50% - 25px);
    z-index: -1; }
  .baner p {
    color: #FFFFFF !important;
    text-align: center !important;
    font-size: 13px !important; }
  .baner h4 {
    color: #FFFFFF !important;
    text-align: center !important;
    font-size: 17px !important; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html {
  overflow-x: hidden; }

body {
  font-family: "Varela Round";
  font-size: 14px;
  line-height: 1.4;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  background: #FFFFFF;
  color: #005A83;
  overflow-x: hidden; }

p {
  color: #4B4B54; }

.section-container {
  position: relative;
  max-width: 300px;
  margin: 0 auto; }

@media only screen and (min-width: 480px) {
  .section-container {
    max-width: 420px; } }
@media only screen and (min-width: 768px) {
  .section-container {
    max-width: 700px; } }
@media only screen and (min-width: 992px) {
  .section-container {
    max-width: 980px; } }
@media only screen and (min-width: 1225px) {
  .section-container {
    max-width: 1180px; } }



/*# sourceMappingURL=main.css.map */
